<nav>
    <ul id="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/search">Search the Google Books API</a></li>
    </ul>
</nav>
<span id="ham-icon" class="icon fa-bars"></span>
<!-- <div class="menue-btn"></div>
<div class="menue-btn_larger"></div>

.menue-btn{
	posotion:relative;
	display : flex;
	justify-content : center;
	align-items : center;
	width: 80px;
	height: 80px;
	curcer:pointer;
	transition :all , 5s ease-in-out ;
	border : 3px so;id color;

}
.menue-btn_larger{
	w:50px;
	h:6px;
	border-rafiod: 5px;
	box-shadow: 0 2px  5px red;
	transition :all , 5s ease-in-out ;

}
.menue-btn_larger::before,
.menue-btn_larger::after{
	content:'';
	pos:abs;
	width
}
.menue-btn_larger::before{
	tranesform: translatey(-16)
}
.menue-btn_larger::after{
	tranesform: translatey(16)
} -->